.all-doctor-pat{
    background-color: #F1F4F8;
    height: 100vh;
}
.all-doctor-pat .container-doctor-pat{
    padding: 3rem;
}

.all-doctor-pat .top-doctor-pat h1{
    margin-bottom: 30px;
}

.all-doctor-pat .left-menu-header{
    display: none;
}


.all-doctor-pat .pagination{
    display: flex;
    align-items: center;
    justify-content: end;
}

button:disabled {
    opacity: 0.6;
  }

.all-doctor-pat .pagination .icon-super-admin{
    cursor: pointer;
}


@media screen and (max-width: 992px)
{

    .all-doctor-pat .container-doctor-pat{
        padding: 1rem;
    }
    .all-doctor-pat .table th{
        font-size: 10px;
    }

    .all-doctor-pat .table td{
        font-size: 10px;
    }

    .all-doctor-pat .bottom-doctor-pat{
        width: 100% ;
    }
}

@media screen and (max-width: 768px)
{
    .all-doctor-pat .container-doctor-pat{
        padding: 1rem;
    }
    .all-doctor-pat .table th{
        font-size: 10px;
    }

    .all-doctor-pat .table td{
        font-size: 10px;
    }

    .all-doctor-pat{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-doctor-pat .container-doctor-pat{
        overflow-x: scroll !important;
        width: 80%;
    }

    .all-doctor-pat .bottom-doctor-pat{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
    }

    .all-doctor-pat .pagination .pagNum{
        font-size: 10px !important;
    }
    .all-doctor-pat .pagination{
        font-size: 10px !important;
    }
}