@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.all-doctorFilter{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    gap: 30px;
}

.container-doctorFilter{
    padding: 3rem 6rem;
}

.all-doctorFilter .left-doctorFilter{
    background-color: #F3F6F7;
    padding: 20px 40px;
    border-radius: 5px;
}

.all-doctorFilter .left-doctorFilter .doctorFilter-hr{
    margin: 10px 0;
    width: 100%;
}

.all-doctorFilter .left-doctorFilter p{
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
}

.all-doctorFilter .left-doctorFilter ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
}

.all-doctorFilter .left-doctorFilter ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}

.right-doctorFilter .doctors-boxes-filter{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 30px;
}

.right-doctorFilter .doctor-box-filter{
    position: relative;
    margin-bottom: 80px;
    width: 30%;
    text-align: center;
}

.right-doctorFilter .doctor-box-filter .view-details-filter{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.right-doctorFilter .doctor-box-filter .view-details-filter .detail-btn-filter{
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #0e3d50;
    color: #fff;
    transition: .5s;
}

.right-doctorFilter .doctor-box-filter .view-details-filter .detail-btn-filter:hover{
    background-color: #fff;
    color: #0e3d50;
}

.right-doctorFilter .doctors-boxes-filter .doctor-box-filter .img-div-filter:hover  .view-details-filter{
    display: block;
}

.right-doctorFilter .doctors-boxes-filter .doctor-box-filter .img-div-filter{
    text-align: center;
    transition: .5s;
}


.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter img{
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    width: 60%;
    transition: .5s;
    text-align: center;
}

.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter span{
    color: #55595c; 
    font-size: 11px;
}


.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter a{
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    transition: .5s;
    font-weight: 700;
}

.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter a:hover{
    color: #0287BE;
}

.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter .doctor-social-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter .doctor-social-filter .icon{
    transition: .5s;
    cursor: pointer;
}


.right-doctorFilter  .doctors-boxes-filter .doctor-box-filter .doctor-social-filter .icon:hover{
    color: #0287BE;
}


.right-doctorFilter .doctor-detail-filter{
    position: absolute;
    background-color: #fff;
    z-index: 333;
    top: 0;
    right: 0;
    position: fixed;
    padding: 2rem;
    width: 300px;
    border-left: 1px solid #333;
    height: 100%;
    overflow-y: scroll;
}

.right-doctorFilter .doctor-detail-filter .mg-doc-detail-filter img{
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}


.right-doctorFilter .doctor-detail-filter  h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
}

.right-doctorFilter .doctor-detail-filter  .det-filter{
    font-size: 15px;
}


.right-doctorFilter .doctor-detail-filter  .det-filter span{
    font-size: 14px;
}

.right-doctorFilter .doctor-detail-filter .profile-desc-filter h5{
    font-size: 14px;
    margin-top: 20px;
    color: #CCCCCC;
}

.right-doctorFilter .doctor-detail-filter .profile-desc-filter p{
    font-size: 15px;
}

.doctor-detail-filter .x-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 5px 7px;
}



@media screen and (max-width: 992px)
{
    .all-doctorFilter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }


    .container-doctorFilter{
        padding: 2rem;
    }

    .all-doctorFilter .left-doctorFilter{
        width: 100%;
        background-color: #F3F6F7;
    }


    .right-doctorFilter .doctor-box-filter{
        width: 45%;
    }
}

@media screen and (max-width: 576px)
{
    .right-doctorFilter .doctor-box-filter{
        width: 100%;
    }

    .all-doctorFilter .left-doctorFilter ul li a{
        font-size: 14px;
    }
}