.all-app-admin{
    background-color: #F1F4F8;
}
.all-app-admin .container-app-admin{
    padding: 3rem;
}

.all-app-admin .top-app-admin h1{
    margin-bottom: 30px;
}

.all-app-admin .left-menu-header{
    display: none;
}


.all-app-admin .pagination{
    display: flex;
    align-items: center;
    justify-content: end;
}

.all-app-admin .pagination .icon-app-admin{
    cursor: pointer;
}

@media screen and (max-width: 992px)
{

    .all-app-admin .container-app-admin{
        padding: 1rem;
    }
    .all-app-admin .table th{
        font-size: 10px;
    }

    .all-app-admin .table td{
        font-size: 10px;
    }

    .all-app-admin .bottom-app-admin{
        width: 100% ;
    }
}

@media screen and (max-width: 768px)
{
    .all-app-admin .container-app-admin{
        padding: 1rem;
    }
    .all-app-admin .table th{
        font-size: 10px;
    }

    .all-position-superadmin .table td{
        font-size: 10px;
    }

    .all-position-superadmin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-position-superadmin .container-position-superadmin{
        overflow-x: scroll !important;
        width: 80%;
    }

    .all-position-superadmin .bottom-position-superadmin{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
    }

    .all-position-superadmin .pagination .pagNum{
        font-size: 10px !important;
    }
    .all-position-superadmin .pagination{
        font-size: 10px !important;
    }
}