@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.doctors-section .containers-doctor{
    padding: 4rem 5rem;
    font-family: 'Lato', sans-serif;
}

.containers-doctor .all-doctors h3{
    text-align: center;
    font-weight: bold;
    color: #46747F;
    margin-bottom: 80px;
}

.containers-doctor .doctors-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.containers-doctor .doctor-box{
    position: relative;
    margin-bottom: 80px;
    width: 23%;
}

.containers-doctor .doctor-box .view-details{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.containers-doctor .doctor-box .view-details .detail-btn{
    border: none;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0287BE;
    color: #fff;
    transition: .5s;
}

.containers-doctor .doctor-box .view-details .detail-btn:hover{
    background-color: #fff;
    color: #0287BE;
}

.containers-doctor .doctors-boxes .doctor-box .img-div:hover  .view-details{
    display: block;
}

.containers-doctor .doctors-boxes .doctor-box .img-div{
    text-align: center;
    transition: .5s;
}

.containers-doctor .doctors-boxes .doctor-box img{
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    width: 70%;
    transition: .5s;
    text-align: center;
}


.containers-doctor .doctors-boxes .doctor-box span{
    color: #55595c; 
    font-size: 11px;
}

.containers-doctor .doctors-boxes .doctor-box a{
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    transition: .5s;
    font-weight: 700;
}

.containers-doctor .doctors-boxes .doctor-box a:hover{
    color: #0287BE;
}

.containers-doctor .doctor-box .doctor-social{
    display: flex;
    gap: 10px;
}

.containers-doctor .doctor-box .doctor-social .icon{
    transition: .5s;
    cursor: pointer;
}


.containers-doctor .doctor-box .doctor-social .icon:hover{
    color: #0287BE;
}

.containers-doctor .doctors-load-more{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containers-doctor .load-more-btn{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0287BE;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
}

.containers-doctor .load-more-btn:hover{
    background-color: #fff;
    color: #0287BE;
    border: 1px solid #0287BE;
}


.containers-doctor .doctor-detail{
    position: absolute;
    background-color: #fff;
    z-index: 333;
    top: 0;
    right: 0;
    position: fixed;
    padding: 2rem;
    width: 300px;
    border-left: 1px solid #333;
    height: 100%;
    overflow-y: scroll;
}

.containers-doctor .doctor-detail .img-doc-detail img{
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}

.containers-doctor .doctor-detail h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
}

.containers-doctor .doctor-detail .det{
    font-size: 15px;
}

.containers-doctor .doctor-detail .det span{
    font-size: 14px;
}

.containers-doctor .doctor-detail .profile-desc h5{
    font-size: 14px;
    margin-top: 20px;
    color: #CCCCCC;
}

.containers-doctor .doctor-detail .profile-desc p{
    font-size: 15px;
}

.containers-doctor .x-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 5px 7px;
}


@media screen and (max-width: 992px)
{
    .containers-doctor .doctors-boxes .doctor-box {
        width: 30%;
    }
    .containers-doctor .doctors-boxes .doctor-box .img-div{
        text-align: center;
    }
}


@media screen and (max-width: 768px)
{
    .containers-doctor .doctors-boxes .doctor-box {
        width: 45%;
    }
}

@media screen and (max-width: 576px)
{

    .containers-doctor .all-doctors h3{
        font-size: 25px;
    }

    .containers-doctor .doctors-boxes .doctor-box {
        width: 100%;
    }


    .containers-doctor .doctors-boxes .doctor-box .img-div{
        text-align: center;
    }

    .containers-doctor .doctors-boxes .doctor-box span{
        font-size: 9px;
    }
    
    .containers-doctor .doctors-boxes .doctor-box a{
        font-size: 15px;
    }

    .containers-doctor .load-more-btn{
        font-size: 14px;
    }
}