.all-calendar-div{
  background-color: #F1F4F8;
}

.rbc-calendar {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

.rbc-month-view {
  background-color: white;
  border: 1px solid #ddd;
}
.rbc-calendar {
  min-height: 100vh;
}

.all-calendar-div .top-notification{
  position: relative;
}

.all-calendar-div .notif-red{
  position: absolute;
  top: 7px;
  right: 14px;
  width: 6px;
  height: 6px;
  background-color: red;
  color: red;
  border-radius: 50%;
}
