.container-home-dashboard {
  padding: 2rem;
  background-color: #f1f4f8;
  height: 100vh;
}

.container-home-dashboard .all-home-dashboard h2 {
  font-size: 21px;
  color: #818da1;
  margin-bottom: 20px;
}

.container-home-dashboard .boxes-dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.container-home-dashboard .box-dashboard {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.354);
}

.container-home-dashboard .box-dashboard .text-div-dashboard {
  display: flex;
  flex-direction: column;
}

.container-home-dashboard .box-dashboard .text-div-dashboard h3 {
  font-size: 38px;
  color: #303641;
  font-weight: 800;
  margin-bottom: 0;
}

.container-home-dashboard .box-dashboard .text-div-dashboard span {
  font-size: 25px;
  color: #303641;
  font-weight: 600;
}

.container-home-dashboard .box-dashboard .icon-div i {
  font-size: 38px;
  color: #30364142;
}

.container-home-dashboard .respmenu{
  display: none;
}

.container-home-dashboard .left-menu-header {
  display: none;
}

.container-home-dashboard .header-admin-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (max-width: 992px) {
  .container-home-dashboard {
    height: auto;
  }
  .container-home-dashboard .box-dashboard {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  :where(.css-dev-only-do-not-override-xu9wm8).ant-layout
    .ant-layout-sider-children {
    display: none;
  }

  :where(.css-dev-only-do-not-override-xu9wm8).ant-layout
    .ant-layout-sider-has-trigger {
    display: none;
  }
  .container-home-dashboard .left-menu-header {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .container-home-dashboard .box-dashboard .text-div-dashboard h3 {
    font-size: 25px;
  }

  .container-home-dashboard .left-menu-header {
    display: block;
  }

  .container-home-dashboard .box-dashboard .text-div-dashboard span {
    font-size: 19px;
  }

  .container-home-dashboard .box-dashboard .icon-div i {
    font-size: 29px;
  }
}
