@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.touchWith-section{
    background-color: #0287BE;
}

.container-touchWith{
    padding: 4rem 7rem;
    font-family: 'Lato', sans-serif;
}

.container-touchWith .all-touchWith{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-touchWith .all-touchWith p{
    font-size: 20px;
    color: #fff;
    line-height: 29px;
}

.container-touchWith .all-touchWith a{
    background-color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 13px;
    color: #187096;
    text-transform: uppercase;
    transition: .5s;
}

.container-touchWith .all-touchWith i{
    margin-right: 5px;
}

.container-touchWith .all-touchWith a:hover{
    color: #fff;
    background-color: #187096;
}


@media screen and (max-width: 992px)
{
    .container-touchWith .all-touchWith{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 576px)
{
    .container-touchWith{
        padding: 2rem;
    }

    .container-touchWith .all-touchWith p{
        font-size: 15px;
    }
    
    .container-touchWith .all-touchWith a{
        font-size: 10px;
    }
}